.mainContainer {
    width: 100%;

    padding-top: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}



.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.itemContainer:hover {
    cursor: pointer;
}


.chosenStyle {
    background-color: rgb(91, 219, 209);
}

.emphasisPart {
    background-color: rgb(194, 177, 27);
}